.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*---------------------------------------------------------------------------------------*/
.row {
  display: flex;
}
/*-----------------------------------BOX 1 CSS--------------------------------------------*/
.Box1 {
  border: 1px solid #000;
  background: #ffffff;
  margin: 15px;
}
.Box1First {
  border-right: 1px solid #000;
  padding-top: 5px;
  padding-bottom: 0px;
  width: 400px;
}
.Box1Mid {
  border-right: 1px solid #000;
  width: 300px;
}
.Box1Last {
  width: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 14px;
  text-align: left;
  width: 300px;
}
.Box1LastData {
  padding: 10px;
}
.Box1Mid h4 {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}
/*-----------------------------------BOX 2 CSS--------------------------------------------*/
.Box2 {
  background: #ffffff;
  margin: 15px;
  width: 100%;
}
.Box2Left {
  border: 1px solid #000;
  margin-top: 10px;
  width: 600px;
}
.Box2LeftData {
  margin: 10px;
  margin-bottom: 1px;
}
.Box2Right {
  border: 1px solid #000;
  margin-top: 10px;
  margin-left: 15px;
  width: 400px;
  height: 200px;
}
.Box2RightData {
  margin: 20px;
}
.Box2RightData text {
  font-size: 20px;
}

/*-----------------------------------BOX 3 CSS--------------------------------------------*/
.Box3 {
  background: #ffffff;
  margin: 15px;
  width: 100%;
}
.Box3Left {
  border: 1px solid #000;
  margin-top: 10px;
  width: 500px;
}
.Box3Right {
  border: 1px solid #000;
  margin-top: 10px;
  margin-left: 15px;
  width: 550px;
  height: 200px;
}


/*---------------------------------------------------------------------------------------*/
